.Main {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-night-bg);
}

.contents__area {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.grid__item {
  /* border: solid 1px pink; */
}


/* intro */

.intro__container {
  width: 90%;
  height: auto;
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro__container>.grid__item {
  padding: 40px;
}

.intro__codestates {
  display: grid;
  grid-template-columns: auto 1fr;
  /* border: solid red; */
}

.intro__logo {
  width: 148px;
  height: 148px;
  margin-right: 35px;
  border-radius: 10%;
}

.intro__content {
  display: grid;
  grid-template-columns: 1fr;
  /* border: solid 1px salmon; */
  word-break: keep-all;
  color: var(--color-text);
}

.intro__title {
  font-size: 1.7rem;
  font-weight: 600;
}


/* category */

.category__container {
  width: 100%;
}


/* Mini Board */

.mini__board__container {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-column-gap: 60px;
  /* border: solid 1px blue; */
}

.mini__board__container label {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 2%;
}

.recent__discussion__container {
  width: 100%;
}

.hot__topic__container {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  align-items: stretch;
}

.hot__topic__container .grid__item:nth-child(1){
  height: fit-content;
}

.hot__topic__container .grid__item:nth-child(2) {
  height: 270px;
  padding: 20px;
  border: solid 1px var(--color-box-border);
  border-radius: 15px;
  color: var(--color-text);
}

.recent__discussion__wrapper, .hot__topic__wrapper {
  width: 100%;
  height: auto;
  margin-top: 12px;
  border: solid 1px var(--color-box-border);
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.more__link {
  color: var(--color-text);
  text-align: right;
  margin: 5px 0;
  margin-right: 15px;
}


/* how to use */

.how__to__use {
  width: 98%;
  height: auto;
  padding: 30px 25px;
  color: var(--color-text);
  border: solid 1px var(--color-box-border);
  border-radius: 10px;
}

.how__to__use p {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.how__to__use li {
  list-style: inside;
  margin-bottom: 5px;
  font-size: 1.1rem;
}